<% provide(:title, 'Home') %>
 <%= javascript_include_tag "demo", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "style", "histoire", "head", media: "all", "data-turbolinks-track" => true %>

		

<div class="first-scroll">
	<div id="content-wrapper">

<div id="nav-pin">
</div>

<div class="row" id="one">
	<div class="col-xs-12 col-md-12">	
			<div id="premier-zero"  >
				<div id="text-scroll"><h2><%= image_tag("logcolor.png", class: "img-responsive") %>Наследие Универсиады</h2>

								<p>6 июля 2013 года в Казани открывали Всемирные студенческие игры.</br>Год спустя «События» решили вспомнить, во что были вложены деньги и работает ли это сейчас на благо жителей города</p>
                       		 	
				</div>	
			</div>
	</div>
</div>	
<div id="slade-zero" ><h2></h2></div>	
<div class="row" id="two">
	<div id="examples-eng2-zero" class="eng">
  		 <div class="col-xs-12 col-md-6">						
						
						<section id="text-scroll">
							<h2>Год назад...</h2>
	                        <p>Жизнь в Казани кипела, как никогда. По улицам гуляли Юники, волонтеры в красных шортах улыбались всем подряд. В общественном транспорте можно было кататься бесплатно, если на руках билет на соревнования. По вечерам сидеть дома никто не хотел, народ бежал в культурный парк Универсиады или просто болтался по улицам, разглядывать иностранцев. </p>		
							<p id ="fly-it-one"><%= image_tag("ziro1.png", class: "img-responsive" ) %></p>
							
						</section>
   		 </div>	
	    <div class="col-xs-12 col-md-6">							
							<section > 
								<p id="pict-eng"><%= image_tag("ziro2.png", class: "img-responsive") %>pict-eng</p>
								<p id ="fly-it-two"><%= image_tag("ziro3.png", class: "img-responsive") %></p>
								<p id ="fly-it-tree"><%= image_tag("ziro4.png", class: "img-responsive") %></p>
							
							</section>						
		</div>
		<div id="zero-eng" >
			<div id="text-scroll"><p>Заниматься физкультурой у нас стало модно.</br> Тем более власти обещали, что вся индустрия Универсиады достанется казанцам.</br> Мы проверили.</p>
			</div>
		</div> 
	</div>	
</div>

				
<div class="row" id="three">
	<div class="col-xs-12 col-md-12">		
		<div id="examples-eng2-one" class="eng">

  			 	<div class="col-md-4 col-md-offset-8 col-xs-12">
					<section id="text-scroll">
					<h2> Дороги</h2>
						  <p>Два года перед Универсиадой автомобилисты забыли, как страшный сон: </br> перекопанные дороги, пробки в 9-10 баллов каждое утро.</p><p>  Скажи тогда кому-нибудь, что благодаря Универсиаде из Соцгорода в Азино можно будет долететь за 20 минут — отмахивались и усмехались. </p><p>  А зря!</br>
						- Все говорили, что через год новый асфальт опять провалится,  - улыбается автомобилист Михаил,</p><p>  - Ничего, все на месте, я доволен!</p>	
					</section>
				</div>	
			
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="slade-one"><h2></h2></div>		
	</div>
</div>

<div class="row" id="four">
	<div class="col-xs-12 col-md-12">
		<div id="examples-eng2-two" class="eng">
				<div class="col-md-4 col-md-offset-8 col-xs-12">
					<section id="text-scroll">
					<h2> Услуги</h2>
						  <p>– Взять велосипед напрокат или на красном двухэтажном автобусе проехать, как в Лондоне </br> - и не думали раньше, что такое у нас в Казани может быть,</br> — говорит учительница Татьяна Андреевна, поднимаясь на верхний открытый ярус автобуса и надевая наушники, чтобы слушать аудиоэкскурсию.</br> – Как в Риме! – восхищенно добавляет она.</p>
						  <p>Прокатиться с ветерком по историческому центру можно и на двухколесном транспорте.</p><p> Вначале прокатом занималась только одна фирма и все сомневались, пойдет ли дело в гору? </p><p>Теперь одолжить велик на час или на день готовы десятки предпринимателей. </p><p>Велостоянки есть во всех  районах, руководство Казани всерьез задумалось о строительстве велодорожек.</p>	

					</section>
				</div>
					<div id="slade-two" class="pin-frame"><h2></h2></div>
					
		</div>
	</div>
</div>
<div class="row" id="five" >
	<div id="examples-eng2-tree" class="eng">
  		 	<div class="col-xs-12 col-md-6">
  		 				<section id="text-scroll">
							<h2>Спортивные объекты</h2>
								  <p>К Универсиаде в Казани построили больше 20 спортивных объектов. Теперь они работают не только для участников соревнований. Ставить новые рекорды там учатся юные спортсмены. Но и для любителей вход открыт. Заглянуть по выходным на каток или окунуться в бассейн можно за символическую плату: около 100 рублей за час (пенсионерам, детям и студентам скидки) или бесплатно в так называемый «день здоровья» - в этом случае нужно записываться заранее.</p>	
						</section> 	
						
			</div>
			<div class="col-xs-12 col-md-6">	
						<section > <h2 id="pict-eng"><%= image_tag("sport1.png" , class: "img-responsive")%></h2>
							<h2 id ="spin-it-one"><%= image_tag("sport2.png" , class: "img-responsive")%></h2>
							<h2 id ="spin-it-two"><%= image_tag("sport3.png" , class: "img-responsive")%></h2>
						</section>				
			</div> 	
	</div>
</div>

				
<div class="row" id="six">
	<div id="examples-eng2-four" class="eng">
  		 	<div class="col-xs-6 col-md-3">
						<h2 id="move-one"><%= image_tag("jil2.png" , class: "img-responsive")%></h2>										
			</div>
			<div class="col-xs-6 col-md-3">
						<h2 id ="move-two"><%= image_tag("jil3.png" , class: "img-responsive")%></h2>										
			</div>
			<div class="col-xs-12 col-md-6">
					<section id="text-scroll">
					<h2> Жилье</h2>
						  <p>У студентов благодаря Универсиаде появилось классное общежитие. С  удобствами в каждой комнате. Это и «общагой» то не назовешь. Есть, правда, и недовольные -  правила строгие, после одиннадцати вечера не пускают и курить нельзя. </p>	</section>
			</div>		
				<div id="four-eng" ><h2></h2></div> 
	</div>
</div>	

<div class="row" id="seven">
	<div class="col-xs-12 col-md-12">		
		<div id="examples-eng2-five" class="eng">
  			 <div class="col-md-4  col-xs-12">				

					<section id="text-scroll">
					<h2> Юники</h2>
						  <p>У кого в фотоархиве-2013 нет памятной фотографии «ладошка к ладошке» с пластмассовым Юником?  Или в обнимку с ростовой куклой? У всех есть!</p>

							<p>Но некоторые казанцы признаются, что хотели бы не плюшевого маленького юника, которые продавались, а гигантского оставить себе. Ну, на дачу, например, поставить, настроение себе поднимать. Глянешь на обаятельную улыбку универсиадского символа, и хорошо на душе становится!</p>

							<p>– Мы хотели для школьного спектакля взять в аренду костюм Юника, но так нигде не нашли, - сокрушается Екатерина Хамитова, мама второклассницы казанской гимназии. - Куда они все делись?</p>

							<p>«Событиям» в дирекции Универсиады объяснили, что Юников уже нет! Их растерзали в буквальном смысле. Ткань и поролон не выдержали страстных объятий казанцев и гостей города.  </p>
					
						</section>	
			</div>
			<div id="slade-five" class="pin-frame"><h2></h2></div>
		</div>
	</div>
</div>

<div class="row" id="eight">
	<div class="col-xs-12 col-md-12">		
		<div id="examples-eng2-six" class="eng">
  			 <div class="col-md-4  col-xs-12">		
					<section id="text-scroll">
					<h2>Декорации</h2>
						  <p>Если многочисленные красочные костюмы  с церемонии открытия и закрытия раздали районным дворцам культуры и ансамблям самодеятельности, то декорации остались в Казани.</p><p>  Несколько крупных городов Татарстана пожелали их взять себе, но как ответили в управлении культуры Казани, конструкции настолько огромные, что перевезти их вот так запросто невозможно. </p>
						  <p>Говорят, что они и в столице пригодятся. Их установят в обновленном парке Горького. Металлическая опора купола, на которой был установлен факел Универсиады, все еще лежит возле  стадиона «Казань Арена».</p>	
					</section>
				</div>
				<div id="slade-six" class="pin-frame"><h2></h2></div>
		</div>	
	</div>
</div>

<div class="row" id="nine">
	<div id="examples-eng2-seven" class="eng">
  		 <div class="col-xs-12 col-md-6">
  		 			<section > <h2 id ="fly-one"><%= image_tag("der2.png"  , class: "img-responsive")%></h2>
					</section>					
		</div>
		<div class="col-xs-12 col-md-6">	
					<section id="text-scroll">
						<h2> Деревья</h2>
						  <p>К Универсиаде решили поставить не только спортивный рекорд, но и зеленый. В городе высадили тысячи деревьев и кустарников. Надо сказать, что большинство из них прижились. Засохли все саженцы  только Ленинской дамбе. На Булаке пирамидальные тополя зеленеют. Некогда грязная протока теперь оазис красоты: газон на склонах, кашпо с цветущей петунией на столбах.</p>
					</section>
		</div>
		<div id="seven-eng" ><h2></h2></div>								
	</div>
</div>

<div class="row" id="ten">
	<div id="examples-eng2-eight" class="eng">
  		 <div class="col-xs-12 col-md-6">				
				<section id="text-scroll">
					<h2>Туристы</h2>
						  <p>Казань, утверждают в туристических компаниях — это самый популярный город в России для путешествий с детьми, отдыха на майские праздники и вообще экскурсионных поездок. Вы не видели туристов? Вы просто давно не были в Кремле или в центре города. И в будни и выходные там не протолкнуться. И наши соотечественники и иностранцы ходят, фотографируют.</p>	
					</section>	
				</div>
				<div class="col-xs-12 col-md-6">
					<section > <h2 id ="fly-two"><%= image_tag("tur2.png"  , class: "img-responsive")%></h2>
					</section>	
					
				</div>
				<div class="col-xs-12 col-md-12" id="fini" >
							<div id="text-scroll">
								<h2>И еще…</h2>
									  <p>Самой  собой, хотелось бы на память об играх получить не что-то общее, а свое собственное. Чтоб на полку положить и дома любоваться.  Если у вас ничего, кроме фотографий не осталось — еще не все потеряно. В Казани по-прежнему стоят киоски с сувенирной продукцией. Только теперь там магнитики, рюкзачки и футболки «Kazan-2013» продаются с гигантской скидкой. Часики, которые год назад стоили под 700 рублей, можно взять за 100, а ароматы Универсиады, над которыми колдовали французские парфюмеры , вместо двух тысяч разлетаются за 500.</p>	

							</div>
				</div>
	</div>
</div>
<div class="row" id="eleven">
	<div class="col-xs-12 col-md-12" id="stat">	
			<div id="hire">
				<h3>Универсиада в цифрах</h3>
					
		</div>
			<div class="row">
			<div class="col-xs-6 col-md-2 col-md-offset-1">
				<div id="date-col">
					<h5>Спорт<h6>y</h6></h5>
				</div>
				<li>351 комплект медалей в 27 видах спорта разыгран на Универсиаде</li>
				<li>Установлено 67 рекордов Универсиады</li>
				<li>22 медали России принесла легкая атлетика, 17 - плавание, 12 - спортивная борьба</li>
				<li>663 спортсмена из России завоевали 292 медали (1 общекомандное место) 155 золота, 75 - серебра, 62 - бронзы</li>
				<li>2 место по медаляму Китая: 26 золотых, 29 серебряных, 22 бронзовых</li>
				<li>3 место у Японии: 24 золотых, 28 серебряных, 32 бронзовых</li>
				<li>54 спортсмена (8%) в составе сборной России представляли Татарстан и завоевали 40 медалей: 20 золотых, 10 серебряных и 10 бронзовых</li>
			</div>
			<div class="col-xs-6 col-md-2">
				<div id="date-col">
					<h5>Люди<h6>A</h6></h5>
				</div>
				<li>11 778 спортсменов из 160 стран приняли участие в Играх</li>
				<li>Казань посетило более 150 тысяч гостей и туристов</li>
				<li>19 970 волонтеров из 37 регионов и 38 стран мира работали по более чем 40 направлениям.</li>
				<li>1 949 официальных гостей посетили Казань</li>
				<li>30 000 сотрудников силовых структур обеспечивали поярдок на Универсиаде</li>
				<li>Ежедневно работали 4 тысячи сотрудников полиции</li>
				<li>55 бригад врачей: 148 врачей спортивной медицины 1350 человек врачебного и среднего медицинского персонала 635 волонтеров-медиков</li>
				
			</div>
			<div class="col-xs-6 col-md-2">
				<div id="date-col">
					<h5>СМИ<h6>I</h6></h5>
				</div>
				<li>3 млрд человек посмотрели Универсиаду по телевизору</li>
				<li>Игры транслировали 3 российских телекомпании, 13 международных СМИ</li>
				<li>Аккредитовано 1 350 журналистов, 1 711 телерадиовещателей</li>
				<li>Аккредитовано 1 350 журналистов, 1 711 телерадиовещателей</li>
				<li>768 часов - общая продолжительность ТВ-трансляций. Из них 553 на территории РФ,215 - за рубежом.</li>
				<li>Церемонию открытия посмотрели 1 млрд человек Участвовало 1 270 артистов и 7 000 спортсменов</li>
				<li>Церемонию закрытия - 1,5 млрд человек 500 артистов и 4 100 спортсменов</li>
				<li>По итогам мониторинга СМИ: 32 тысячи положительных упоминаний и 360 отрицательных</li>
			</div>
			<div class="col-xs-6 col-md-2">
				<div id="date-col">
					<h5>Объекты<h6>P</h6></h5>
				</div>
				<li>Построено 36 новых спортивных сооружений 11 транспортных развязок 40 пешеходных переходов</li>
				<li>Задействованы более 50 объектов, 8 теплоходов, 22 других объекта (санатории, базы отдыха и т.д.)</li>
				<li>Было проведено более 600 официальных мероприятий. Из них 351 церемония награждения</li>
				<li>Члены официальных делегаций были расселены по 28 домам Деревни Универсиады</li>
				<li>Главный ресторан Универсиады обслужил 543 104 человека</li>
				<li>Парк Универсиады посетили 262 200 человек</li>
				
			</div>
			<div class="col-xs-6 col-md-2">
				<div id="date-col">
					<h5>Прочее<h6>f</h6></h5>
				</div>
				<li>800 тысяч билетов продано болельщикам</li>
				<li>Сабантуй во время Универсиады посетили более 7 000 человек</li>
				<li>Организовано380 экскурсий, которые посетили 14 348 человек</li>
				<li>11 официальных приемов посетило 2 966 человек</li>
				<li>12 940 обращений к медикам зафиксировано в дни Универсиады</li>
				<li>Самые титулованные спортсмены Универсиады:у мужчин Владимир Морозов (плавание) - 4 золота, 1 серебро и 1 бронза у женщин Юлия Ефимова (плавание) - 4 золота</li>
			</div>
		</div>
						
							<div id="hire">
						<p id="logotyp"><a href="*"><%= image_tag("logo.png", alt: "")%></a></p>
							</div>	
	</div>
</div>							
<div class="row">
	<div class="col-xs-12 col-md-12">		
		<div id="examples-eng2-foot" class="eng">
			<footer>
  			 <div class="col-md-4  col-md-offset-8 col-xs-12">
  			 		<div id="showcase">
  			 			<h3>Проект подготовили</h3>	
  			 			 <article id = "footer">
									<div class="gallery clearfix" id = "autors">
										<figure>
											<figcaption>
										<small><p>Автор идеи: Елена Вавилова</br>
							          Журналисты: Ксения Жаркова, Дарья Турцева, Наталия Васильева, Денис Анисимов</br>
							          Дизайн: Татьяна Волкова</br>
							          Фотограф: Ринат Назметдинов</p></small>
							          		</figcaption>
							          </figure>

							      	</div>
					
										<div class="gallery clearfix">
											<figure>
												<figcaption>TATMEDIA<br />
													<small><a href="http://sntat.ru/">&copy; 2014 sntat.ru</a></small>
												</figcaption>
											</figure>
										</div>
										<div>
							
							
							      <div id= "buttons"><a href="#"><!-- AddThis Button BEGIN -->
							                <div class="addthis_toolbox addthis_default_style ">
							                <a class="addthis_button_preferred_1"></a>
							                <a class="addthis_button_preferred_2"></a>
							                <a class="addthis_button_preferred_3"></a>
							                <a class="addthis_button_preferred_4"></a>
							                <a class="addthis_button_compact"></a>
							                <a class="addthis_counter addthis_bubble_style"></a>
							                </div>
							                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
							                <!-- Go to www.addthis.com/dashboard to customize your tools -->
							                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c3f015720105a5"></script>
							                <!-- AddThis Button END --></a>
							      </div>          
							      </article>
						</div>			
				   </div>
				</div>
			</footer>
		</div>			
	</div>
</div>
					
	



</div><!--content wrapper -->
</div>