<% provide(:title, 'Home') %>
 <%= javascript_include_tag "demo", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "style", "histoire", "head", media: "all", "data-turbolinks-track" => true %>

		

<div class="first-scroll">
	<div id="content-wrapper">

<div id="nav-pin">
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">	
			<div id="premier-zero"  >
				<div id="text-scroll"><h2><%= image_tag("logun.png", class: "img-responsive") %>Наследие Универсиады</h2>

								<p>6 июля 2013 года в Казани открывали Всемирные студенческие игры.</br>Год спустя «События» решили вспомнить, во что были вложены деньги и работает ли это сейчас на благо жителей города</p>
                       		 	
				</div>	
			</div>	
	</div>
</div>	

<div class="row">
	<div id="examples-eng2-zero" class="eng">
  		 <div class="col-xs-12 col-md-6">						
						
						<section id="text-scroll">
							<h2>Год назад...</h2>
	                        <p>Жизнь в Казани кипела, как никогда. По улицам гуляли Юники, волонтеры в красных шортах улыбались всем подряд. В общественном транспорте можно было кататься бесплатно, если на руках билет на соревнования. По вечерам сидеть дома никто не хотел, народ бежал в культурный парк Универсиады или просто болтался по улицам, разглядывать иностранцев. </p>		
							<p id ="fly-it-one"><%= image_tag("p1.png", class: "img-responsive" ) %>one</p>
							
						</section>
   		 </div>	
	    <div class="col-xs-12 col-md-6">							
							<section > 
								<p id="pict-eng"><%= image_tag("p1.png", class: "img-responsive") %>pict-eng</p>
								<p id ="fly-it-two"><%= image_tag("p1.png", class: "img-responsive") %>two</p>
								<p id ="fly-it-tree"><%= image_tag("p1.png", class: "img-responsive") %>tree</p>
							
							</section>						
		</div>
		<div id="zero-eng" >
			<div id="text-scroll"><p>Заниматься физкультурой у нас стало модно.</br> Тем более власти обещали, что вся индустрия Универсиады достанется казанцам.</br> Мы проверили.</p>
			</div>
		</div> 
	</div>	
</div>

				
<div class="row">
	<div class="col-xs-12 col-md-12">		
		<div id="examples-eng2-one" class="eng">

  			 	<div class="col-md-4 col-md-offset-8 col-xs-12">
					<section id="text-scroll">
					<h2> Дороги</h2>
						  <p>Два года перед Универсиадой автомобилисты забыли, как страшный сон: </br> перекопанные дороги, пробки в 9-10 баллов каждое утро.</p><p>  Скажи тогда кому-нибудь, что благодаря Универсиаде из Соцгорода в Азино можно будет долететь за 20 минут — отмахивались и усмехались. </p><p>  А зря!</br>
						- Все говорили, что через год новый асфальт опять провалится,  - улыбается автомобилист Михаил,</p><p>  - Ничего, все на месте, я доволен!</p>	
					</section>
				</div>	
			<div id="slade-one" class="pin-frame"><h2></h2></div>		
		</div>	
	</div>
</div>


<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="examples-eng2-two" class="eng">
				<div class="col-md-4 col-md-offset-8 col-xs-12">
					<section id="text-scroll">
					<h2> Услуги</h2>
						  <p>– Взять велосипед напрокат или на красном двухэтажном автобусе проехать, как в Лондоне </br> - и не думали раньше, что такое у нас в Казани может быть,</br> — говорит учительница Татьяна Андреевна, поднимаясь на верхний открытый ярус автобуса и надевая наушники, чтобы слушать аудиоэкскурсию.</br> – Как в Риме! – восхищенно добавляет она.</p>
						  <p>Прокатиться с ветерком по историческому центру можно и на двухколесном транспорте.</p><p> Вначале прокатом занималась только одна фирма и все сомневались, пойдет ли дело в гору? </p><p>Теперь одолжить велик на час или на день готовы десятки предпринимателей. </p><p>Велостоянки есть во всех  районах, руководство Казани всерьез задумалось о строительстве велодорожек.</p>	

					</section>
				</div>
					<div id="slade-two" class="pin-frame"><h2></h2></div>
					
		</div>
	</div>
</div>
<div class="row">
	<div id="examples-eng2-tree" class="eng">
  		 <div class="col-xs-12 col-md-6">
  		 				<section id="text-scroll">
							<h2>Спортивные объекты</h2>
								  <p>К Универсиаде в Казани построили больше 20 спортивных объектов. Теперь они работают не только для участников соревнований. Ставить новые рекорды там учатся юные спортсмены. Но и для любителей вход открыт. Заглянуть по выходным на каток или окунуться в бассейн можно за символическую плату: около 100 рублей за час (пенсионерам, детям и студентам скидки) или бесплатно в так называемый «день здоровья» - в этом случае нужно записываться заранее.</p>	
						</section> 	
						
			</div>
			<div class="col-xs-12 col-md-6">	
						<section > <h2 id="pict-eng"><%= image_tag("p1.png" , class: "img-responsive")%></h2>
							<h2 id ="spin-it-one"><%= image_tag("p1.png" , class: "img-responsive")%></h2>
							<h2 id ="spin-it-two"><%= image_tag("p1.png" , class: "img-responsive")%></h2>
						</section>				
				</div> 
				<div id="tree-eng" ><h2></h2>
			</div>
			
	</div>
</div>
				
<div class="row">
	<div id="examples-eng2-four" class="eng">
  		 <div class="col-xs-12 col-md-6">
					<section > <h2 id="move-one"><%= image_tag("p2.png" , class: "img-responsive")%></h2>
					</section>	
					
			</div>
			<div class="col-xs-12 col-md-6">
					<section id="text-scroll">
					<h2> Жилье</h2>
						  <p>У студентов благодаря Универсиаде появилось классное общежитие. С  удобствами в каждой комнате. Это и «общагой» то не назовешь. Есть, правда, и недовольные -  правила строгие, после одиннадцати вечера не пускают и курить нельзя. </p>	
						  <h2 id ="move-two"><%= image_tag("p1.png" , class: "img-responsive")%></h2>
					</section>
			</div>		
				<div id="four-eng" ><h2></h2></div> 
	</div>
</div>	

<div class="row">
	<div class="col-xs-12 col-md-12">		
		<div id="examples-eng2-five" class="eng">
  			 <div class="col-md-4  col-xs-12">				

					<section id="text-scroll">
					<h2> Юники</h2>
						  <p>У кого в фотоархиве-2013 нет памятной фотографии «ладошка к ладошке» с пластмассовым Юником?  Или в обнимку с ростовой куклой? У всех есть!</p>

							<p>Но некоторые казанцы признаются, что хотели бы не плюшевого маленького юника, которые продавались, а гигантского оставить себе. Ну, на дачу, например, поставить, настроение себе поднимать. Глянешь на обаятельную улыбку универсиадского символа, и хорошо на душе становится!</p>

							<p>– Мы хотели для школьного спектакля взять в аренду костюм Юника, но так нигде не нашли, - сокрушается Екатерина Хамитова, мама второклассницы казанской гимназии. - Куда они все делись?</p>

							<p>«Событиям» в дирекции Универсиады объяснили, что Юников уже нет! Их растерзали в буквальном смысле. Ткань и поролон не выдержали страстных объятий казанцев и гостей города.  </p>
					
						</section>	
			</div>
			<div id="slade-five" class="pin-frame"><h2></h2></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">		
		<div id="examples-eng2-six" class="eng">
  			 <div class="col-md-4  col-xs-12">		
					<section id="text-scroll">
					<h2>Декорации</h2>
						  <p>Если многочисленные красочные костюмы  с церемонии открытия и закрытия раздали районным дворцам культуры и ансамблям самодеятельности, то декорации остались в Казани.</p><p>  Несколько крупных городов Татарстана пожелали их взять себе, но как ответили в управлении культуры Казани, конструкции настолько огромные, что перевезти их вот так запросто невозможно. </p>
						  <p>Говорят, что они и в столице пригодятся. Их установят в обновленном парке Горького. Металлическая опора купола, на которой был установлен факел Универсиады, все еще лежит возле  стадиона «Казань Арена».</p>	
					</section>
				</div>
				<div id="slade-six" class="pin-frame"><h2></h2></div>
		</div>	
	</div>
</div>

<div class="row">
	<div id="examples-eng2-seven" class="eng">
  		 <div class="col-xs-12 col-md-6">
  		 			<section > <h2 id ="fly-one"><%= image_tag("p1.png"  , class: "img-responsive")%></h2>
					</section>					
		</div>
		<div class="col-xs-12 col-md-6">	
					<section id="text-scroll">
						<h2> Деревья</h2>
						  <p>К Универсиаде решили поставить не только спортивный рекорд, но и зеленый. В городе высадили тысячи деревьев и кустарников. Надо сказать, что большинство из них прижились. Засохли все саженцы  только Ленинской дамбе. На Булаке пирамидальные тополя зеленеют. Некогда грязная протока теперь оазис красоты: газон на склонах, кашпо с цветущей петунией на столбах.</p>
					</section>
		</div>
		<div id="seven-eng" ><h2></h2></div>								
	</div>
</div>

<div class="row">
	<div id="examples-eng2-eight" class="eng">
  		 <div class="col-xs-12 col-md-6">				
				<section id="text-scroll">
					<h2>Туристы</h2>
						  <p>Казань, утверждают в туристических компаниях — это самый популярный город в России для путешествий с детьми, отдыха на майские праздники и вообще экскурсионных поездок. Вы не видели туристов? Вы просто давно не были в Кремле или в центре города. И в будни и выходные там не протолкнуться. И наши соотечественники и иностранцы ходят, фотографируют.</p>	
					</section>	
				</div>
				<div class="col-xs-12 col-md-6">
					<section > <h2 id ="fly-two"><%= image_tag("p1.png"  , class: "img-responsive")%></h2>
					</section>	
					
				</div>
				<div class="col-xs-12 col-md-12" id="fini" >
							<div id="text-scroll">
								<h2>И еще…</h2>
									  <p>Самой  собой, хотелось бы на память об играх получить не что-то общее, а свое собственное. Чтоб на полку положить и дома любоваться.  Если у вас ничего, кроме фотографий не осталось — еще не все потеряно. В Казани по-прежнему стоят киоски с сувенирной продукцией. Только теперь там магнитики, рюкзачки и футболки «Kazan-2013» продаются с гигантской скидкой. Часики, которые год назад стоили под 700 рублей, можно взять за 100, а ароматы Универсиады, над которыми колдовали французские парфюмеры , вместо двух тысяч разлетаются за 500.</p>	

							</div>
				</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12" id="stat">	
			<div id="hire">
				<h3>Универсиада в цифрах</h3>
					<p>Тра-ла-ла </p>
		</div>
			<div class="row">
			<div class="col-xs-6 col-md-2 col-md-offset-1"><h6>T B</h6></div>
			<div class="col-xs-6 col-md-2"><h6>A</h6></div>
			<div class="col-xs-6 col-md-2"><h6>p I J</h6></div>
			<div class="col-xs-6 col-md-2"><h6>k H P</h6></div>
			<div class="col-xs-6 col-md-2"><h6>o Y t</h6></div>
		</div>
							<p><a href="*"><%= image_tag("pict1.png" ,width: "200px")%> </a></p>
							<div id="hire">
								<h3>TATMEDIA</h3>
							</div>	
	</div>
</div>							
<div class="row">
	<div class="col-xs-12 col-md-12">		
		<div id="examples-eng2-foot" class="eng">
			<footer>
  			 <div class="col-md-4  col-md-offset-8 col-xs-12">
  			 		<div id="showcase">
					<h3>Действующие лица и исполнители</h3>
					
						<div class="gallery clearfix">
							
							<figure>
								<a href="*">
									<p>nhf-nf nj мы везем с собой кота</p>
								</a>
								<figcaption>Alpina - Life Is Vertical<br />
									<small><a href="*">CSS Design Award Winner</a></small>
								</figcaption>
							</figure>
						</div>
						<div class="gallery clearfix">
							
							<figure>
								<a href="*">
									<p>Курицу собаку петьку забияку</p>
								</a>
								<figcaption>Alpina - Life Is Vertical<br />
									<small><a href="*">CSS Design Award Winner</a></small>
								</figcaption>
							</figure>
						</div>
					
					</div>			
				</div>
				<p id="logotyp"><a href="*"><%= image_tag("logo.png", alt: "")%></a></p>
						
			</footer>
		</div>			
	</div>
</div>
					
	



</div><!--content wrapper -->
</div>