<div id ="logo"><%= link_to  image_tag("logo.png", alt: "") , '#', :class => "premier" %></div>
<nav id= "premier-nav">
  <ul> 
    <li><%= link_to "1", '#premier', :class => "premier" %></li> 
    <li><%= link_to "2", '#one', :class => "one" %></li>  
    <li><%= link_to "3", '#two', :class => "two" %></li>
    <li><%= link_to "4", '#three', :class => "three" %></li>
    <li><%= link_to "5", '#four', :class => "four" %></li>
    <li><%= link_to "6", '#five', :class => "five" %></li>
  </ul>

</nav>