<div id ="logo"><%= link_to  image_tag("logo.png", alt: "") , '#', :class => "premier" %></div>
<nav id= "premier-nav">
  <ul> 
    
    <li><%= link_to "1", '#one', :class => "one" %></li>  
    <li><%= link_to "2", '#two', :class => "two" %></li>
    <li><%= link_to "3", '#three', :class => "three" %></li>
    <li><%= link_to "4", '#four', :class => "four" %></li>
    <li><%= link_to "5", '#five', :class => "five" %></li>
    <li><%= link_to "6", '#six', :class => "six" %></li> 
    <li><%= link_to "7", '#seven', :class => "seven" %></li>  
    <li><%= link_to "8", '#eight', :class => "eight" %></li>
    <li><%= link_to "9", '#nine', :class => "nine" %></li>
    <li><%= link_to "10", '#ten', :class => "ten" %></li>
    <li><%= link_to "11", '#eleven', :class => "eleven" %></li>
    
  </ul>

</nav>